BODY
{
background-color:white;
}
h1 
{
color:magenta;
}
table{
	border:2 px;
	width:100%;
	border-collapse:collapse;
	
font-size:25px;
padding: 20px;
		
padding:20px;
font-size:25px;
		
	
padding:20px;
font-size:25px;
		

padding:20px;
font-size:25px; 

{color:black;
		text-align:center;
		color:black;
		padding:17px;
color:black; }
		
		text-align:center;
		padding-bottom:25px;
		text-align:center;
		padding-bottom:25px;
		text-align:center;
		padding-bottom:25px;
		text-align:center;
		padding-bottom:25px;